*body{
	background-color: #ffffff;
}
.nav-distance{
	padding: 2.1% 5.5%;
}
.navbar-light .navbar-brand{
	font-family: NanumSquareR;
	line-height: 1.68;
	text-align:left;
	color: #35465d;
}
.navbar-light .navbar-toggler{
	border-color:#ffffff;
}
.section{
	margin-top:100px;
}
.title{
	font-family:NanumSquareR;
	line-height:1.67;
	text-align: center;
	color: #35465d;
}
.subtitle{
	font-family:NanumSquareR;
	line-height:1.53;
	text-align: center;
	color: #35465d;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
	.navbar-brand {
		font-size: 2rem;
	}

}
.opgg-link{  
	font-family:NanumSquareR;
	font-size:1.25rem;
	line-height:1.71;
	text-align:center;
	color:#f73737;
	text-decoration:underline;
}
.opgg-link:hover{
	font-family:NanumSquareR;
	font-size:1.25rem;
	line-height:1.71;
	text-align:center;
	color:#f73737;
	text-decoration:underline;
}
.main-box{
	width: 50rem;
    height: 60vw;
	border-radius:10px;
	text-align:center;
	border: solid 1.5px #f6f7fa;
	background-color:#f6f7fa;
}
.return-name{
	font-size: 5vw;
	margin-top: 20vw;
	margin-bottom: 10vw;
}
.one-button{
	padding-left:4%;
	padding-right:4%;
}
.two-button{
	padding-left:3.1%;
	padding-right:3.1%;
}